<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog
            widgetVar="#{widgetVar}"
            modal="true"
            hideEffect="fold"
            dynamic="true"
            width="1200"
            height="550"
            closable="false"
            >

            <f:facet  name="header" >
                <div style="font-size: 13px;"><h:outputText value="#{title}" /></div>
            </f:facet>

            <p:media value="#{reportUrl}" player="pdf"  width="100%" height="98%" />

            <f:facet  name="footer" >
                <p:commandButton value="Fermer" type="push" ajax="false" onclick="PF('#{widgetVar}').hide()" style="float: right; margin: 5px;"/>
            </f:facet>

        </p:dialog>

    </ui:composition>
</html>