<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" >
    <ui:composition template = "/templates/mainTemplate.xhtml">
        <ui:define name="main_content">
            <div id="view_frame">
                <ui:insert name="view" />
            </div>
        </ui:define>
    </ui:composition>
</html>