<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets" >

    <f:view locale="#{localeBean.currentLang}" beforePhase="#{loginBean.redirect}" contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <!-- Tell the browser to be responsive to screen width -->
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />   
            <link href="mypfs/pfs-styles.css" rel="stylesheet" type="text/css" />
            <!--  page content styles -->
            <link href="css/style.css" rel="stylesheet" type="text/css" />  
            <!--webfonts-->
            <link href="fontello/css/fontello.css" rel="stylesheet" />
            <link href="fontello/css/fontello-codes.css" rel="stylesheet" />
            <!-- Bootstrap -->
            <link href="css/font-awesome.min.css" rel="stylesheet" />
            <link href="css/hoe.css" rel="stylesheet" />
            <link href="css/bootstrap.min.css" rel="stylesheet" />
            <link href="css/site.css" rel="stylesheet" />
            <!-- Bootstrap 3.3.4 -->
            <link href="doc1/bootstrap1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

            <!-- Tell the browser to be responsive to screen width --><!-- Bootstrap 3.3.4 -->
            <link href="doc1/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <!-- FontAwesome 4.3.0 -->
            <link href="doc1/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="doc1/dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />

            <script src="js/script.js"></script>
            <script src="js/pfs-calendar-langs.js"></script>
            <link href="fonts/OpenSans/OpenSans.css" rel="stylesheet" />
            
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>GEDOPA - GESTION DE DOSSIER PATIENT</title>
                <style type="text/css">
                    .ui-widget, .ui-widget .ui-widget {
                        font-size: 96% !important;
                        font-weight: normal;
                    }
                </style>                
            </f:facet>
        </h:head>
        <h:body>
            <!-- Left side column. contains the logo and sidebar -->
            <h:form id="langForm">
                <div id="menu_bar">

                    <!-- menu principal -->

                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top" role="navigation">


                        <ul class="nav navbar-nav">
                            <div id='cssmenu'>

                                <ul>
                                    <li><a href='index.xhtml'><span>ACCUEIL</span></a></li>
                                    <li class=' has-sub'><a href='#'><span>GEDOPA</span></a>
                                        <ul>
                                            <li><a href='operConsultationMedView.xhtml'><span>Consultation</span></a></li>
                                            <li><a href='dossierPatientView.xhtml'><span>Archives</span></a></li>
                                            <li class='has-sub'><a href='#'><span>Parametrage</span></a>
                                                <ul>
                                                    <li><a href='#'><span>Ajouter Medecin</span></a></li>
                                                    <li><a href='medicamentView.xhtml'><span>Ajouter Medicaments</span></a></li>
                                                    <li class='last'><a href='analysemedView.xhtml'><span>Ajouter Analyse </span></a></li>
                                                </ul>
                                            </li>
                                            <li><a href='#'><span>Gestion des Utilisateurs</span></a></li>
                                            <li class='has-sub'><a href='#'><span>Aide</span></a>
                                                <ul>
                                                    <li><a href='#'><span>Rubriques d'Aide</span></a></li>
                                                    <li class='last'><a href='#'><span>A Propos</span></a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'><a href='#'><span>MTE</span></a>
                                                <ul>
                                                    <li><a href='#'><span>A Propos de MTE</span></a></li>
                                                    <li class='last'><a href='#'><span>GESTION PATIENT</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class=' has-sub'><a href='#'><span>LANGUES</span></a>
                                        <ul>
                                            <li><h:commandLink actionListener="#{localeBean.changeLocale('fr')}" ><span><h:outputText value="#{msg['btn.title.fr']}" /></span></h:commandLink></li>
                                            <li><h:commandLink actionListener="#{localeBean.changeLocale('en')}" ><span><h:outputText value="#{msg['btn.title.en']}" /></span></h:commandLink></li>
                                            <li><h:commandLink actionListener="#{localeBean.changeLocale('x')}" ><span><h:outputText value="#{msg['btn.title.vn']}" /></span></h:commandLink></li>
                                            <li class='last'><h:commandLink actionListener="#{localeBean.changeLocale('zh_CN')}" ><span><h:outputText value="#{msg['btn.title.cn']}" /></span></h:commandLink></li>
                                        </ul>

                                    </li>


                                </ul>

                            </div>
                        </ul>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- Messages: style can be found in dropdown.less-->
                                <li class="dropdown messages-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="label label-success">4</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 4 messages</li>
                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu">
                                                <li><!-- start message -->
                                                    <a href="#">
                                                        <div class="pull-left">
                                                            <img src="img/user_photo//#{loginBean.connectedUser.userPhoto}" class="img-circle" alt="User Image" />
                                                        </div>
                                                        <h4>
                                                            Support Team
                                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                        </h4>
                                                        <p>Why not buy a new awesome theme?</p>
                                                    </a>
                                                </li><!-- end message -->
                                                <li>
                                                    <a href="#">
                                                        <div class="pull-left">
                                                            <img src="img/user_photo//#{loginBean.connectedUser.userPhoto}" class="img-circle" alt="User Image" />
                                                        </div>
                                                        <h4>
                                                            AdminLTE Design Team
                                                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                        </h4>
                                                        <p>Why not buy a new awesome theme?</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="pull-left">
                                                            <img src="img/user_photo//#{loginBean.connectedUser.userPhoto}" class="img-circle" alt="User Image" />
                                                        </div>
                                                        <h4>
                                                            Developers
                                                            <small><i class="fa fa-clock-o"></i> Today</small>
                                                        </h4>
                                                        <p>Why not buy a new awesome theme?</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="pull-left">
                                                            <img src="img/user_photo/#{loginBean.connectedUser.userPhoto}" class="img-circle" alt="User Image" />
                                                        </div>
                                                        <h4>
                                                            Sales Department
                                                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                        </h4>
                                                        <p>Why not buy a new awesome theme?</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="pull-left">
                                                            <img src="img/user_photo/#{loginBean.connectedUser.userPhoto}" class="img-circle" alt="User Image" />
                                                        </div>
                                                        <h4>
                                                            Reviewers
                                                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                        </h4>
                                                        <p>Why not buy a new awesome theme?</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#">See All Messages</a></li>
                                    </ul>
                                </li>
                                <!-- Notifications: style can be found in dropdown.less -->
                                <li class="dropdown notifications-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-warning">10</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 10 notifications</li>
                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-users text-red"></i> 5 new members joined
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-user text-red"></i> You changed your username
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#">View all</a></li>
                                    </ul>
                                </li>
                                <!-- Tasks: style can be found in dropdown.less -->
                                <li class="dropdown tasks-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-flag-o"></i>
                                        <span class="label label-danger">9</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 9 tasks</li>
                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu">
                                                <li><!-- Task item -->
                                                    <a href="#">
                                                        <h3>
                                                            Design some buttons
                                                            <small class="pull-right">20%</small>
                                                        </h3>
                                                        <div class="progress xs">
                                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                <span class="sr-only">20% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li><!-- end task item -->
                                                <li><!-- Task item -->
                                                    <a href="#">
                                                        <h3>
                                                            Create a nice theme
                                                            <small class="pull-right">40%</small>
                                                        </h3>
                                                        <div class="progress xs">
                                                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                <span class="sr-only">40% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li><!-- end task item -->
                                                <li><!-- Task item -->
                                                    <a href="#">
                                                        <h3>
                                                            Some task I need to do
                                                            <small class="pull-right">60%</small>
                                                        </h3>
                                                        <div class="progress xs">
                                                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li><!-- end task item -->
                                                <li><!-- Task item -->
                                                    <a href="#">
                                                        <h3>
                                                            Make beautiful transitions
                                                            <small class="pull-right">80%</small>
                                                        </h3>
                                                        <div class="progress xs">
                                                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                <span class="sr-only">80% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li><!-- end task item -->
                                            </ul>
                                        </li>
                                        <li class="footer">
                                            <a href="#">View all tasks</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="img/user_photo/#{loginBean.connectedUser.userPhoto}" class="user-image" alt="User Image" />
                                        <span class="hidden-xs"><h:outputText value="#{loginBean.connectedUser.userNom}" /></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="img/user_photo/#{loginBean.connectedUser.userPhoto}" class="img-circle" alt="User Image" />
                                            <p>
                                                <h:outputText value="#{loginBean.connectedUser.userNom} - #{loginBean.connectedUser.profilCode != null ? loginBean.connectedUser.profilCode.profilDesc : ''}" />
                                                
                                                <small><h:outputText value="#{loginBean.loginMsg}" /></small>
                                            </p>
                                        </li>
                                        <!-- Menu Body -->
                                        <li class="user-body">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                                            </div>
                                            <div class="pull-right">
                                                <h:commandLink actionListener="#{loginBean.deconnecter()}" styleClass="btn btn-default btn-flat" ><span><h:outputText value="Déconnecter" /></span></h:commandLink>
                                                
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                            </ul>


                        </div>
                        
                       

                    </nav>

                </div>    

            </h:form>

            <div id="page_content_accueil">

                <div id="page_container_accueil">
                    <ui:insert name="main_content" />
                </div>
            </div>

            <div id="page_footer">

                <div id="reseaux">
                    <p:outputLabel value="Copyright 2018 MTE. Tous droits réservés." />

                </div>
            </div>	
            
           

            <!-- jQuery (les nécessaires) -->

            <script src="js/plugins/tinycon/tinycon.min.js"></script>

            <script src="js/personalize.js"></script>

            <!-- AdminLTE App -->
            <script src="doc1/dist/js/app.min.js" type="text/javascript"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="doc1/dist/js/pages/dashboard.js" type="text/javascript"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="doc1/dist/js/demo.js" type="text/javascript"></script>

            <script src="js/bootstrap.min.js"></script>
      
        </h:body>
    </f:view>
</html>