/* style SIP */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(..//fonts/roboto/Roboto-Thin.woff2) format('woff2'), url(Roboto-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(..//fonts/roboto/Roboto-Light.woff2) format('woff2'), url(Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(..//fonts/roboto/Roboto-Regular.woff2) format('woff2'), url(Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(..//fonts/roboto/Roboto-Medium.woff2) format('woff2'), url(Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(..//fonts/roboto/Roboto-Bold.woff2) format('woff2'), url(Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(..//fonts/roboto/Roboto-Black.woff2) format('woff2'), url(Roboto-Black.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(..//fonts/roboto/Roboto-ThinItalic.woff2) format('woff2'), url(Roboto-ThinItalic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(..//fonts/roboto/Roboto-LightItalic.woff2) format('woff2'), url(Roboto-LightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(..//fonts/roboto/Roboto-Italic.woff2) format('woff2'), url(Roboto-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(..//fonts/roboto/Roboto-MediumItalic.woff2) format('woff2'), url(Roboto-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(..//fonts/roboto/Roboto-BoldItalic.woff2) format('woff2'), url(Roboto-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(..//fonts/roboto/Roboto-BlackItalic.woff2) format('woff2'), url(Roboto-BlackItalic.woff) format('woff');
}

html, body {
     
    margin: 0px;
    /*background: url(..//img/bk3.jpg)no-repeat fixed;*/
    background: #d1cfcd;
    font:100% "Roboto","Arial","sans-serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    font-size: 13px;

}

/*####################################################################*/

#page_container
{
    width: auto;
    height: auto;
    min-height: 400px;
    margin-top: -13px;
}

/*############################ MENU PRINCIPAL ################################*/

/*---menu_bar---*/
#menu_bar
{
    width: 100%;
    min-width: 960px;
    height: auto;
    position: fixed;
    z-index: 108;
   

}
#page_content{
background-color: #fff;
border: 1px solid #979999;
padding: 5px;
width: 100%;
height: auto;
border-radius: 5px;
position: relative;
min-width: 1203px;
}

#page_content_accueil{
background: #a8c8d7;
padding: 62px 0px 0px 0px;
width: 100%;
height: auto;
border-radius: 5px 5px 0px 0px;
position: absolute;
min-width: 1203px;

}


/*---main_content---*/
#main_content
{
    background-color: #fff;
    padding: 5px;
    width: 100%;
    min-width: 943px;
    height:auto;
    border: 1px solid #979999;
}



/*---view_frame---*/
#view_frame
{
    background-color:#d1cfcd;
    height:auto ;
    padding:15px;
    width: 100%;
    min-width: 943px;
    border: 1px solid #979999;
    border-bottom: none;

}

/*---view---*/
#view
{
    border-radius:7px;
    background-color:#fff;
    width: auto;
    height:auto;
    padding: 7px;
    border: 1px solid #a9a9a9;

}

/*---title_bar---*/
#title_bar
{
    background-color:#3391be;
    width:auto;
    height: auto;
    padding-right:4px;
    padding-left:20px;
    border-radius: 3px;
    margin-bottom: 5px;


}

#raccourcis_bar {
    width: 230px;
    margin-left: -235px;
    background-color: #3391BE;
    border-top: 20px solid #a5d1e6;
    height: auto;
    position: absolute;
    margin-top: -15px;
}

#title_bar .title{
    color: white;
    font-size: 18px;
    font-weight:bold;
    line-height: 30px;
}

#title_bar .btn_quitter{
    float: right; 
    border: 2px solid #feffde; 
    margin-top: 4px;
}

/*---form_panel---*/
#form_panel
{
    background-color:#3391be;
    border-radius:3px;
    width:auto;
    height:auto;
    padding:5px;
}

/*---form---*/
#form
{
    background-color:#fff;
    border-radius:3px;
    width:auto;
    height:auto;
    padding:5px;

}


/*---page footer---*/
#page_footer
{
    background:none;
    width:auto;
    height:100px;
    padding-top: 20px;
    font-size: 11px;
}



#cssmenu {
    width: auto;
    padding: 0;
    line-height: 1;
    display: block;
    position: relative;
    z-index: 800;
    height: 50px;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
#cssmenu ul:after,
#cssmenu:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
#cssmenu ul li a {
    text-decoration: none;
    display: block;
    margin: 0;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu ul li ul {
    position: absolute;
    left: -9999px;
    top: auto;
}
#cssmenu ul li ul li {
    max-height: 0;
    position: absolute;
    -webkit-transition: max-height 0.4s ease-out;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out;
    background: #fff;
}
#cssmenu ul li ul li.has-sub:after {
    display: block;
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #000000;
    z-index: 1;
    top: 13px;
    right: 15px;
}
#cssmenu.align-right ul li ul li.has-sub:after {
    right: auto;
    left: 15px;
}
#cssmenu ul li ul li.has-sub:before {
    display: block;
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 3px solid transparent;
    border-left-color: #ffffff;
    z-index: 2;
    top: 15px;
    right: 15px;
}
#cssmenu.align-right ul li ul li.has-sub:before {
    right: auto;
    left: 15px;
    border-left-color: transparent;
    border-right-color: #ffffff;
}
#cssmenu ul li ul li a {
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    color: #000000;
    letter-spacing: 0;
    display: block;
    width: 170px;
    padding: 11px 10px 11px 20px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
    color:#ffffff;
    text-shadow:0px 0px 5px #000  ;
    background-color:#4cb6ea; 
    width: 192px;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
    background: #000;
}
#cssmenu ul li ul li:hover > ul {
    left: 100%;
    top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
    max-height: 70px;
    position: relative;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu.align-center > ul > li {
    float: none;
    display: inline-block;
}
#cssmenu.align-center > ul {
    text-align: center;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul {
    float: right;
}
#cssmenu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
}
#cssmenu.align-right ul ul li:hover > ul {
    right: 100%;
    left: auto;
}
#cssmenu.align-right ul ul li a {
    text-align: right;
}
#cssmenu > ul > li:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    z-index: 0;
    background:#ffffff;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -ms-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 40px;
}
#cssmenu > ul > li.has-sub > a:after {
    display: block;
    content: "";
    background:#ffffff;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 13px;
    right: 14px;
    top: 16px;
}
#cssmenu > ul > li.has-sub > a:before {
    display: block;
    content: "";
    border: 4px solid transparent;
    border-top-color: #4cb6ea;
    z-index: 2;
    height: 0;
    width: 0;
    position: absolute;
    right: 16px;
    top: 21px;
}
#cssmenu > ul > li > a {
    color: #ffffff;
    padding: 15px 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 2;
    position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
    height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    color: #000000;
   
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
    background: #000000;
    
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
    border-top-color: #ffffff;
}
#cssmenu > ul > li:hover > ul {
    left: 0;
}
#cssmenu > ul > li:hover > ul > li {
    max-height: 72px;
    position: relative;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu > ul > li > a {
    display: block;
}
#cssmenu > ul > li {
    width: auto;
    height: 50px;
}
#cssmenu > ul > li > ul {
    width: 170px;
    display: block;
}
#cssmenu > ul > li > ul > li {
    width: 192px;
    display: block;
}
@media all and (max-width: 300px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu > ul {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.35s ease-out;
        -moz-transition: max-height 0.35s ease-out;
        -ms-transition: max-height 0.35s ease-out;
        -o-transition: max-height 0.35s ease-out;
        transition: max-height 0.35s ease-out;
    }
    #cssmenu > ul > li > ul {
        width: 100%;
        display: block;
    }
    #cssmenu.align-right ul li a {
        text-align: left;
    }
    #cssmenu > ul > li > ul > li {
        width: 100%;
        display: block;
    }
    #cssmenu.align-right ul ul li a {
        text-align: left;
    }
    #cssmenu > ul > li > ul > li > a {
        width: 100%;
        display: block;
    }
    #cssmenu ul li ul li a {
        width: 100%;
    }
    #cssmenu.align-center > ul {
        text-align: left;
    }
    #cssmenu.align-center > ul > li {
        display: block;
    }
    #cssmenu > ul.open {
        max-height: 1000px;
        border-top: 1px solid rgba(110, 110, 110, 0.25);
    }
    #cssmenu ul {
        width: 100%;
    }
    #cssmenu ul > li {
        float: none;
        width: 100%;
    }
    #cssmenu ul li a {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
    }
    #cssmenu ul > li:after {
        display: none;
    }
    #cssmenu ul li.has-sub > a:after,
    #cssmenu ul li.has-sub > a:before,
    #cssmenu ul li ul li.has-sub:after,
    #cssmenu ul li ul li.has-sub:before {
        display: none;
    }
    #cssmenu ul li ul,
    #cssmenu ul li ul li ul,
    #cssmenu ul li ul li:hover > ul,
    #cssmenu.align-right ul li ul,
    #cssmenu.align-right ul li ul li ul,
    #cssmenu.align-right ul li ul li:hover > ul {
        left: 0;
        position: relative;
        right: auto;
    }
    #cssmenu ul li ul li,
    #cssmenu ul li:hover > ul > li {
        max-height: 999px;
        position: relative;
        background: none;
    }
    #cssmenu ul li ul li a {
        padding: 8px 20px 8px 35px;
        color: #ffffff;
    }
    #cssmenu ul li ul ul li a {
        padding: 8px 20px 8px 50px;
    }
    #cssmenu ul li ul li:hover > a {
        color: #000000;
    }
    #cssmenu #menu-button {
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 15px 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        color: #ffffff;
        cursor: pointer;
    }
    #cssmenu #menu-button:after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        right: 20px;
        top: 16px;
    }
    #cssmenu #menu-button:before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #ffffff;
        right: 20px;
        top: 26px;
    }

}


#cssmenu .drapeau {
 margin: 0 0 -5px -8px;
}


#raccourcis_bar_accueil {
    background-color: #a8c8d7;
    width: 235px;
    border-top: 20px solid transparent;
    height: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid #A5D1E6;
    position: absolute; 
    padding-bottom: 520px;
}

#img_accueil
{
    
    background: url("../img/gedopa_accueil.jpg")no-repeat; 
    width: 1369px;
    height: auto;
    min-height: 641px;
    position: fixed;
    margin-left: 5px;
}

#index
{
    width: auto;
    height: auto;
    min-height: 400px;
    position: relative;
    padding-bottom: 50px;
    margin-left: -5px;
    background-color: #000;
}

#page_container_accueil
{
    
    display: block;
    width: auto;
    height: auto;
    min-height: 400px;
    margin-top: -13px;
    
}


#page_container_vide
{
    background: #fff;
    margin: 5px;
    display: block;
    width: auto;
    height: auto;
    min-height: 400px;
    border-radius: 5px;
    margin-top: -13px;
}