<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template = "/templates/appTemplate.xhtml">
        <ui:define name="view">
            <h:form id="viewForm">
                <div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['appUserView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                <p:fieldset id="fields" styleClass="formFieldset " style="width: auto; margin-bottom: 5px;">

                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['userLogin.label']}" for="userLogin" />
                                        </li>
                                        <li>
                                            <p:inputText id="userLogin" value="#{appUserBean.formObject.userLogin}" disabled="#{appUserBean.editMode}"  required="#{true eq param.validate}" styleClass="champs-simple" >
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="userLogin" display="icon" />
                                        </li>

                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['userNom.label']}" for="userNom"  />
                                        </li>
                                        <li>
                                            <p:inputText id="userNom" value="#{appUserBean.formObject.userNom}"  styleClass="champs-double" >
                                            </p:inputText>
                                            <br/>
                                            <p:message for="userNom" display="icon" />
                                        </li>

                                    </ul>
                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['userPassword.label']}" for="userPassword" />
                                        </li>
                                        <li>
                                            <p:password id="userPassword" value="#{appUserBean.formObject.userPassword}" feedback="true" redisplay="true" size="100"
                                                        required="#{true eq param.validate}" styleClass="champs-simple">
                                                <f:validator validatorId="passwordValid" />
                                                <f:attribute name="refVal" value="#{confirmPassword}" />
                                            </p:password>
                                            <br/> 
                                            <p:message for="userPassword" display="icon" />
                                        </li>

                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['userEmail.label']}" for="userEmail" />
                                        </li>
                                        <li>
                                            <p:inputText id="userEmail" value="#{appUserBean.formObject.userEmail}"  styleClass="champs-double" >
                                                <f:validator validatorId="emailValid" />
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="userEmail" display="icon" />
                                        </li>

                                    </ul>

                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['label.confirmer']}" for="confirmPassword" />
                                        </li>
                                        <li>
                                            <p:password id="confirmPassword" binding="#{confirmPassword}" value="#{appUserBean.confirmPassword}" feedback="true" redisplay="true" size="100"
                                                        required="#{true eq param.validate}"  styleClass="champs-simple">
                                            </p:password>
                                            <br/> 
                                            <p:message for="confirmPassword" display="icon" />
                                        </li>

                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['userPhoto.label']}" for="userPhoto" />
                                        </li>
                                        <li>
                                            <p:inputText id="userPhoto" value="#{appUserBean.formObject.userPhoto}"  styleClass="champs-simple" >
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="userPhoto" display="icon" />
                                        </li>

                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['dateCreation.label']}" for="dateCreation" />
                                        </li>
                                        <li>
                                            <p:calendar id="dateCreation" value="#{appUserBean.formObject.dateCreation}"   required="#{true eq param.validate}" locale="fr" showOn="button" navigator="true" showOtherMonths="true" selectOtherMonths="true"
                                                        mask="true" pattern = "dd/MM/yyyy" showButtonPanel="true" disabled="true" styleClass="champs-simple" >
                                                <f:validator validatorId="datePasseeValid" />
                                            </p:calendar>
                                            <br/> 
                                            <p:message for="dateCreation" display="icon" />
                                        </li>

                                    </ul>

                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['Profil.label']}" for="profilCode" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="profilCode" value="#{appUserBean.formObject.profilCode}" filter = "true" filterMatchMode="contains" converter = "profilConv" var = "item"  required="#{true eq param.validate}"    styleClass="champs-simple-ro"> 
                                                <f:selectItem itemLabel="----   ---" itemValue="" />
                                                <f:selectItems value="#{appUserBean.profilList}" var = "profilCode" itemLabel="#{profilCode.profilDesc}" itemValue="#{profilCode}" />
                                                <p:column>
                                                    #{item.profilDesc}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <p:message for="profilCode" display="icon" />
                                        </li>

                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['actif.label']}" for="actif" />
                                        </li>
                                        <li>
                                            <p:selectOneRadio id="actif" value="#{appUserBean.formObject.actif}" required="#{true eq param.validate}" >
                                                <f:selectItem itemLabel="#{msg['label.oui']}" itemValue="true" />
                                                <f:selectItem itemLabel="#{msg['label.non']}" itemValue="false" />
                                            </p:selectOneRadio>
                                            <p:message for="actif" display="icon" />
                                        </li>
                                    </ul>

                                    <div style="clear: both;"></div>

                                    <p:messages showDetail="true" />

                                </p:fieldset>




                                <div  class="action-bar action-bar-triple" >
                                    <ul class='rtl'>
                                        <li>
                                            <p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{appUserBean.enregistrer()}" update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="true" />
                                            </p:commandButton>
                                        </li>
                                        <li>
                                            <p:commandButton id="btnReinitPassword" value="#{msg['btn.value.reinitPassword']}" action="#{appUserBean.confirmerReinitPassword()}" disabled="#{!appUserBean.editMode}" icon="ui-icon-refresh" update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="true" />
                                            </p:commandButton>
                                        </li>
                                        <li>
                                            <p:commandButton  id="btnSuppr" value="#{msg['btn.value.supprimer']}"  action="#{appUserBean.confirmerSuppression()}" disabled="#{!appUserBean.editMode}" icon="ui-icon-trash" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton>
                                        </li>
                                        <li>
                                            <p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{appUserBean.effacerTout()}"  update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton>
                                        </li>
                                        <li>
                                            <p:commandButton id="btnRech" value="#{msg['btn.value.rechercher']}" actionListener="#{appUserBean.rechercher()}" icon="ui-icon-search" update="grid, @(.formFieldset), btnSuppr"  >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <p:dataTable id="grid" value="#{appUserBean.dataList}" var="item" emptyMessage="#{appUserBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{appUserBean.selectedObject}" rowKey="#{item.userLogin}"
                                         filteredValue="#{appUserBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}" reflow="true" sortBy="#{item.userNom}" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['appUserGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{appUserBean.rowSelect}" update="@(.formFieldset), :viewForm:btnSuppr, :viewForm:btnReinitPassword" />
                                <p:column headerText="#{msg['userLogin.label']}" filterBy="#{item.userLogin}" sortBy="#{item.userLogin}" style="width: 200px;"> 
                                    <h:outputText value="#{item.userLogin}" /> 
                                </p:column>
                                <p:column headerText="#{msg['userNom.label']}" filterBy="#{item.userNom}" sortBy="#{item.userNom}" style="width: 100%;"> 
                                    <h:outputText value="#{item.userNom}" /> 
                                </p:column>
                                <p:column headerText="#{msg['Profil.label']}" filterBy="#{item.profilCode.profilCode}" sortBy="#{item.profilCode.profilCode}" style="width: 180px;"> 
                                    <h:outputText value="#{item.profilCode.profilCode}" /> 
                                </p:column>
                                <p:column headerText="#{msg['userEmail.label']}" filterBy="#{item.userEmail}" style="width: 250px;"> 
                                    <h:outputText value="#{item.userEmail}" /> 
                                </p:column>
                                <p:column headerText="#{msg['dateCreation.label']}" sortBy="#{item.dateCreation}" style="width: 150px;"> 
                                    <h:outputText value="#{item.dateCreation}">
                                        <f:convertDateTime type="both" pattern="dd/MM/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="#{msg['actif.label']}" sortBy="#{item.actif}" style="width: 100px;"> 
                                    <h:outputText value="#{item.actif ? msg['label.oui'] : msg['label.non']}" /> 
                                </p:column>
                                <f:facet name = "footer"> 
                                    <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporter').show();" />
                                </f:facet>
                            </p:dataTable>

                        </div>
                    </div>

                    <div id="title_bar" style="margin-top: 5px;">
                        <span class="title"><p:outputLabel value="#{msg['appUserView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                </div>
            </h:form>

            <h:form id="dialogForm">
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{appUserBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                 msg1="#{appUserBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandLink  styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                        onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{appUserBean.supprimer()}"  
                                         update=":viewForm:grid, @(.formFieldset)" oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>
                
                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['msg.confirm.reinitPassword']}"
                                   widgetVar="confirmReinitPassword" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{appUserBean.reinitPassword()}"  
                                         update=":viewForm:grid" oncomplete="PF('confirmReinitPassword').hide()" 
                                         icon="ui-icon-refresh"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmReinitPassword').hide()"/>
                    </div>
                </sic:confirmDialog>

                <sic:gridExporter title="#{msg['dlg.export.title']} #{msg['SysParam.label']}" widgetVar="gridExporter" grid=":viewForm:grid" />

            </h:form>


        </ui:define>
    </ui:composition>
</html>