<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template = "/templates/appTemplate.xhtml">
        <ui:define name="view">
            <h:form id="viewForm">
                <div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="Gestion des dossiers patients" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                <p:fieldset id="infosPatient" legend="Rechercher le patient" style="width: auto; margin-bottom: 5px;">
                                    <p:panel id="formPanelDet" styleClass="form">
                                        <div id="formulaireConsign">
                                            <p:fieldset id="fieldsEscale" styleClass="fieldsEscale" style="width: auto; margin-bottom: 5px;">
                                                <div style="clear: both;"></div>
                                                <ul class="sipe-row">
                                                    <li class="sipe-libelle">
                                                        <p:outputLabel value="#{msg['numeroDossier.label']}" for="numdossier"/>
                                                    </li>
                                                    <li>
                                                        <p:inputText id="numdossier" value="#{searchPatientRecordBean.formObject.numdossier}" disabled="#{searchPatientRecordBean.editMode}"   styleClass="champs-simple">
                                                        </p:inputText>
                                                    </li>
                                                    <li class="sipe-libelle interne">
                                                        <p:outputLabel value="#{msg['nom.label']}" for="nom" />
                                                    </li>
                                                    <li>
                                                        <p:inputText id="nom" value="#{searchPatientRecordBean.formObject.nom}" disabled="#{searchPatientRecordBean.editMode}"   maxlength="100"  styleClass="champs-simple">
                                                        </p:inputText>
                                                    </li>
                                                    <li class="sipe-libelle interne">
                                                        <p:outputLabel value="#{msg['prenom.label']}" for="prenom" />
                                                    </li>
                                                    <li>
                                                        <p:inputText id="prenom" value="#{searchPatientRecordBean.formObject.prenom}" disabled="#{searchPatientRecordBean.editMode}"   maxlength="100"  styleClass="champs-simple">
                                                        </p:inputText>
                                                    </li>
                                                    <li class="sipe-libelle interne">
                                                        <p:outputLabel value="#{msg['deuxieme_prenom.label']}" for="deuxieme_prenom" />
                                                    </li>
                                                    <li>
                                                        <p:inputText id="deuxieme_prenom" value="#{searchPatientRecordBean.formObject.deuxieme_prenom}" disabled="#{searchPatientRecordBean.editMode}"   maxlength="100"  styleClass="champs-simple">
                                                        </p:inputText>
                                                    </li>
                                                </ul>
                                                <div style="clear: both;"></div>

                                                <p:messages showDetail="true" />
                                            </p:fieldset>

                                            <div class="action-bar action-bar-triple" >
                                                <ul class='rtl'>
                                                    <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{dossierPatientBean.effacer()}" update="@(.ui-datatable),@(.formFieldset),@(.fieldsEscale)" /></li>
                                                    <li>
                                                        <p:commandButton id="btnRechSearchEsc" value="#{msg['btn.value.rechercher']}" actionListener="#{searchPatientRecordBean.searchPatientPourConsultation()}" icon="ui-icon-search" update="gridDossierPatient,@(.fieldsEscale)" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <p:dataTable id="gridDossierPatient" value="#{searchPatientRecordBean.dataList}" var="item" emptyMessage="#{searchPatientRecordBean.gridEmptyMessage}" paginator="true" rows="5" selectionMode="single"
                                                     selection="#{searchPatientRecordBean.selectedObject}" rowKey="#{item.id_patient}"
                                                     filteredValue="#{searchPatientRecordBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}" reflow="true" sortBy="#{item.nom}"  sortOrder="descending">
                                            <f:facet name = "header">  <p:outputLabel value="#{msg['patientGrid.title']}" /> </f:facet>
                                            <p:ajax event="rowSelect" listener="#{searchPatientRecordBean.rowSelect}"  update="@(.ui-datatable),@(.formFieldset), @(.fieldsEscale)"/>
                                            <p:ajax event="rowSelect" update="@(.fieldsNavire)" />

                                            <p:column headerText="#{msg['numeroDossier.label']}"  sortBy="#{item.numdossier}" filterBy="#{item.nom}" style="width: 150px;"> 
                                                <h:outputText value="#{item.numdossier}" /> 
                                            </p:column>
                                            <p:column headerText="#{msg['nom.label']}" sortBy="#{item.nom}" filterBy="#{item.nom}" style="width: 150px;"> 
                                                <h:outputText value="#{item.nom}" /> 
                                            </p:column>
                                            <p:column headerText="#{msg['prenom.label']}" sortBy="#{item.prenom}" filterBy="#{item.prenom}" style="width: 150px;"> 
                                                <h:outputText value="#{item.prenom}" /> 
                                            </p:column>
                                            <p:column headerText="#{msg['deuxieme_prenom.label']}"  sortBy="#{item.deuxieme_prenom}" filterBy="#{item.deuxieme_prenom}" style="width: 150px;"> 
                                                <h:outputText value="#{item.deuxieme_prenom}" /> 
                                            </p:column>
                                        </p:dataTable>

                                    </p:panel>

                                    <p:blockUI block="formPanelDet" trigger=" :viewForm:btnRechSearchEsc">  
                                        Chargement en cours. Veuillez patienter, SVP...<br />  
                                        <p:graphicImage value="/img/dots32.gif"/>  
                                    </p:blockUI>
                                </p:fieldset>
                                <ui:include src="/infoPatient.xhtml" />
                                <div style="clear: both;"></div>
                                <div class="action-bar action-bar-quadruple" >
                                    <ul class='rtl'>
                                        <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{dossierEscaleBean.effacer()}" update="@(.ui-datatable),@(.formFieldset),@(.fieldsEscale)" /></li>

                                    </ul>
                                </div>
                                <p:fieldset id="formFields" styleClass="formFieldset" style="width: auto; margin-bottom: 5px;">

                                    <p:tabView id="tabView" dynamic="true" cache="true">
                                        <p:tab id="mouvement" title="#{msg['Antecedent.label']}">
                                            <p:fieldset>

                                            </p:fieldset>
                                        </p:tab>
                                        <p:tab id="sejour" title="#{msg['hypodiag.label']}">
                                            <p:fieldset>
                                                <p:dataTable id="gridDetailHypoDiagCons" value="#{dossierPatientBean.dataListDiag}" var="itemdet5" emptyMessage="#{dossierPatientBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                                             selection="#{dossierPatientBean.selectedHypo}" rowKey="#{itemdet5.hypothesediagConsPK}"
                                                             filteredValue="#{dossierPatientBean.filteredHypoListDetail}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                                             rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemdet5.hypothesediag.libhypo}" sortOrder="descending" >
                                                    <f:facet name = "header">  <p:outputLabel value="#{msg['listHypoDiagConsGrid.title']}" /> </f:facet>
                                                    <p:column headerText="#{msg['hypoDiagCons.label']}" filterBy="#{itemdet5.hypothesediag.libhypo}"  sortBy="#{itemdet5.hypothesediag.libhypo}" > 
                                                        <h:outputText value="#{itemdet5.hypothesediag.libhypo}" /> 
                                                    </p:column>
                                                    <p:column headerText="#{msg['observationhypo.label']}" filterBy="#{itemdet5.observationhypo}" sortBy="#{itemdet5.observationhypo}" style="width: 15%"> 
                                                        <h:outputText value="#{itemdet5.observationhypo}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </p:fieldset>
                                        </p:tab>
                                        <p:tab id="srvNautique" title="#{msg['ordonnance.label']}">
                                            <p:fieldset>
                                                <p:dataTable id="gridDetail" value="#{dossierPatientBean.dataListPrescription}" var="itemdet2" emptyMessage="#{dossierPatientBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                                             selection="#{dossierPatientBean.selectedPrescription}" rowKey="#{itemdet2.prescriptionPK}"
                                                             filteredValue="#{dossierPatientBean.filteredAnaListDetail}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                                             rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemdet2.medicament.libmedi}" sortOrder="descending" >
                                                    <f:facet name = "header">  <p:outputLabel value="Liste des medicaments prescrits" /> </f:facet>
                                                    <p:column headerText="Medicament" filterBy="#{itemdet2.medicament.libmedi}"  sortBy="#{itemdet2.medicament.libmedi}" > 
                                                        <h:outputText value="#{itemdet2.medicament.libmedi}" /> 
                                                    </p:column>
                                                    <p:column headerText="#{msg['qte.label']}" filterBy="#{itemdet2.nbrfoisprise}" sortBy="#{itemdet2.nbrfoisprise}" style="width: 15%"> 
                                                        <h:outputText value="#{itemdet2.nbrfoisprise}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </p:fieldset>

                                        </p:tab>
                                        <p:tab id="Prestation" title="#{msg['analyse.label']}">
                                            <p:fieldset>
                                                <p:dataTable id="gridDetailAnalyse" value="#{dossierPatientBean.dataListAnal}" var="itemdet4" emptyMessage="#{dossierPatientBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                                             selection="#{dossierPatientBean.selectedAna}" rowKey="#{itemdet4.analyseDemandeePK}"
                                                             filteredValue="#{dossierPatientBean.filteredAnaListDetail}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                                             rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemdet4.analysemed.designationanamed}" sortOrder="descending" >
                                                    <f:facet name = "header">  <p:outputLabel value="#{msg['listAnalysesPrescritesGrid.title']}" /> </f:facet>
                                                    <p:column headerText="#{msg['dateConsultation.label']}" sortBy="#{itemdet4.consultation.dateconsultation}" style="width: 150px"> 
                                                        <h:outputText value="#{itemdet4.consultation.dateconsultation}">
                                                            <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="#{msg['Analyses.label']}" filterBy="#{itemdet4.analysemed.designationanamed}"  sortBy="#{itemdet4.analysemed.designationanamed}" > 
                                                        <h:outputText value="#{itemdet4.analysemed.designationanamed}" /> 
                                                    </p:column>                                                    
                                                    <p:column headerText="#{msg['resultatAna.label']}" filterBy="#{itemdet4.resultatana}" sortBy="#{itemdet4.resultatana}" style="width: 50%"> 
                                                        <h:outputText value="#{itemdet4.resultatana}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </p:fieldset>

                                        </p:tab>

                                    </p:tabView>
                                    <div style="clear: both;"></div>
                                </p:fieldset>

                            </div>


                        </div>
                    </div> 

                    <br/>
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="Gestion des dossiers patients" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>

                </div>

            </h:form>

        </ui:define>
    </ui:composition>
</html>