<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Authentification Utilisateur</title>

        <style>
            body{
                background-color: #c4d5e9;
                color:#1e6db5;
                font-size:10px;
                font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
            }
        </style>
    </h:head>

    <h:body>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div align="right" style="width: 1000px; height: 530px; border: 1px solid #c1d4e7; margin-top: 0px; margin: auto;">
        <!--<div align="right" style="width: 1000px; height: 530px; border: 1px solid #c1d4e7; margin-top: 0px; margin: auto; background-image: url('img/home_image.jpg'); background-repeat: no-repeat;">-->
              <h:form id="form2">
                <p:panel id="dlg" widgetVar="editor"  style=" border: none; border-radius: 6px; -moz-border-radius: 6px;  height: auto; width: 430px; margin-top: 280px; margin-left: 350px;" >

                    <p:panel style="background: none; height: 50px; border: none; text-align: center;"  >
                        <h:outputText value="Connexion à GEDOPA" style="font-size: 15px; font-weight: bold;" />
                    </p:panel>

                    <p:messages showDetail="true" />

                    <h:panelGrid columns="2" cellpadding="5">

                        <p:outputLabel value="Login:" for="login" style="margin-left: 10px;" />
                        <p:inputText id="login" value="#{loginBean.login}" size="100" style="width: 280px;"
                                     required="true"
                                     requiredMessage="le login est obligatoire!"
                                     validatorMessage="valeur incorrecte! 3 à 100 caractères requis">
                            <f:validateLength minimum="3" maximum="100" />
                            <p:clientValidator event="keyup"/>
                        </p:inputText>
                        <h:outputText value="" style="width: 100px;"/>
                        <p:message for="login"/>

                        <p:outputLabel value="Mot de passe:" for="pass" style="margin-left: 10px;" />
                        <p:password id="pass" value="#{loginBean.password}" size="100" style="width: 280px;"
                                    required="true"
                                    requiredMessage="le mot de passe est obligatoire!"
                                    validatorMessage="valeur incorrecte! 3 à 100 caractères requis">
                            <f:validateLength minimum="3" maximum="100" />
                            <p:clientValidator event="keyup"/>
                        </p:password>
                        <h:outputText value="" style="width: 100px;"/>
                        <p:message for="pass"/>
                    </h:panelGrid>

                    <p:commandButton value="Connexion" id="btnConnexion" action="#{loginBean.authentifier()}" validateClient="true" update="dlg" style="margin-right: 10px;"/>

                </p:panel>
                <p:blockUI block="dlg" trigger="btnConnexion">  
                    Connexion en cours...<br />  
                    <p:graphicImage value="/img/balls64.gif"/>  
                </p:blockUI> 
            </h:form>

        </div>

        <div style="width: 300px; margin: auto;">
            &copy;
        </div>



    </h:body>

</html>
