<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template = "/templates/appTemplate.xhtml">
        <ui:define name="view">
            <h:form id="viewForm">
                <div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['marchandiseView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                <p:fieldset id="fields" styleClass="formfield" style="width: auto; margin-bottom: 5px;">

                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['codeMarchandise.label']}" for="codeMarchandise" />
                                        </li>
                                        <li>
                                            <p:inputText id="codeMarchandise" value="#{marchandiseBean.formObject.codeMarchandise}" required="#{true eq param.validate}" maxlength="15"  styleClass="champs-simple" disabled="#{marchandiseBean.editMode}" >
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="codeMarchandise" display="icon" />
                                        </li> <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['numeroUn.label']}" for="numeroUn" />
                                        </li>
                                        <li>
                                            <p:inputText id="numeroUn" value="#{marchandiseBean.formObject.numeroUn}" maxlength="10"  styleClass="champs-simple" >
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="numeroUn" display="icon" />
                                        </li>
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['libMarchandise.label']}" for="libMarchandise" />
                                        </li>
                                        <li>
                                            <p:inputText id="libMarchandise" value="#{marchandiseBean.formObject.libMarchandise}" required="#{true eq param.validate}"  maxlength="200"  styleClass="champs-double"  >
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="libMarchandise" display="icon" />
                                        </li>
                                       
                                    </ul>
                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['ClasseMse.label']}" for="codeClasseMse" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="codeClasseMse" value="#{marchandiseBean.formObject.codeClasseMse}" required="#{true eq param.validate}" filter = "true" filterMatchMode="contains" converter = "classeMseConv" var = "item"  styleClass="champs-simple" > 
                                                <f:selectItem itemLabel="--" itemValue="" />
                                                <f:selectItems value="#{marchandiseBean.classeMseList}" var = "codeClasseMse" itemLabel="#{codeClasseMse.libClasseMse}" itemValue="#{codeClasseMse}" />
                                                <p:column>
                                                    #{item.libClasseMse}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <br/> 
                                            <p:message for="codeClasseMse" display="icon"/>
                                        </li>
                                        <li class="sipe-libelle interne ">
                                            <p:outputLabel value="#{msg['CategorieMse.label']}" for="codeCategorieMse" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="codeCategorieMse" value="#{marchandiseBean.formObjectcategMse}" required="#{true eq param.validate}" filter = "true" filterMatchMode="contains" converter = "categorieMseConv" var = "item"  styleClass="champs-simple" > 
                                                <p:ajax event="change" listener="#{marchandiseBean.recherchersousCategMse()}" update="codeSousCategMse"/>
                                                <f:selectItem itemLabel="--" itemValue="" />
                                                <f:selectItems value="#{marchandiseBean.categMseList}" var = "CategorieMse" itemLabel="#{CategorieMse.libCategorieMse}" itemValue="#{CategorieMse}" />
                                                <p:column>
                                                    #{item.libCategorieMse}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <br/> 
                                            <p:message for="codeCategorieMse" display="icon"/>
                                        </li>
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['SousCategMse.label']}" for="codeSousCategMse" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="codeSousCategMse" value="#{marchandiseBean.formObject.codeSousCategMse}" required="#{true eq param.validate}" filter = "true" filterMatchMode="contains" converter = "sousCategMseConv" var = "item"  styleClass="champs-double" > 
                                                <f:selectItem itemLabel="--" itemValue="" />
                                                <f:selectItems value="#{marchandiseBean.sousCategMseList}" var = "codeSousCategMse" itemLabel="#{codeSousCategMse.libSousCategMse}" itemValue="#{codeSousCategMse}" />
                                                <p:column>
                                                    #{item.libSousCategMse}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <br/> 
                                            <p:message for="codeSousCategMse" display="icon"/>
                                        </li>
                                       
                                    </ul>
                                      <div style="clear: both;"></div>
                                      <ul class="sipe-row">
                                           <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['grpeTccImp.label']}" for="grpeTccImp" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="grpeTccImp" value="#{marchandiseBean.formObject.grpeTccImp}" required="#{true eq param.validate}" filter = "true" filterMatchMode="contains" converter = "groupeTccConv" var = "item"  styleClass="champs-double" > 
                                                <f:selectItem itemLabel="--" itemValue="" />
                                                <f:selectItems value="#{marchandiseBean.groupeTccList}" var = "grpeTccImp" itemLabel="#{grpeTccImp.libGrpeTcc}" itemValue="#{grpeTccImp}" />
                                                <p:column>
                                                    #{item.libGrpeTcc}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <br/> 
                                            <p:message for="grpeTccImp" display="icon"/>
                                        </li>
                                           <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['grpeTccExp.label']}" for="grpeTccExp" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="grpeTccExp" value="#{marchandiseBean.formObject.grpeTccExp}" required="#{true eq param.validate}" filter = "true" filterMatchMode="contains" converter = "groupeTccConv" var = "item"  styleClass="champs-double" > 
                                                <f:selectItem itemLabel="--" itemValue="" />
                                                <f:selectItems value="#{marchandiseBean.groupeTccList}" var = "grpeTccImp" itemLabel="#{grpeTccImp.libGrpeTcc}" itemValue="#{grpeTccImp}" />
                                                <p:column>
                                                    #{item.libGrpeTcc}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <br/> 
                                            <p:message for="grpeTccExp" display="icon"/>
                                        </li>
                                      </ul>
                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['motsCles.label']}" />
                                        </li>
                                        <li>
                                            <p:inputTextarea id="motsCles" value="#{marchandiseBean.formObject.motsCles}" maxlength="400" styleClass="champs-quadruple" >
                                            </p:inputTextarea>
                                        </li>
                                    </ul>


                                    <div style="clear: both;"></div>
                                    <p:messages showDetail="true"/>
                                </p:fieldset>

                                <div   class="action-bar action-bar-quadruple" >
                                    <ul class='rtl'>
                                        <li><p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{marchandiseBean.enregistrer()}" update="@(.ui-datatable),@(.formfield),btnSuppr">
                                                <f:param name="validate" value="true" /></p:commandButton></li>
                                        <li><p:commandButton value="#{msg['btn.value.supprimer']}" id="btnSuppr"  action="#{marchandiseBean.confirmerSuppression()}" disabled="#{!marchandiseBean.editMode}" icon="ui-icon-trash"  update="@(.ui-datatable),@(.formfield),btnSuppr">
                                                <f:param name="validate" value="false" /></p:commandButton></li>
                                        <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{marchandiseBean.effacerTout()}"  update="@(.ui-datatable),@(.formfield),btnSuppr">
                                                <f:param name="validate" value="false" /></p:commandButton></li>
                                        <li>
                                            <p:menuButton value="#{msg['btn.value.rechercher']}">
                                                <p:menuitem value="#{msg['menu.item.value.par.et']}" actionListener="#{marchandiseBean.rechercher(true)}" icon="ui-icon-search" update="@(.ui-datatable),@(.formfield),btnSuppr">
                                                    <f:param name="validate" value="false" /></p:menuitem>
                                                <p:menuitem value="#{msg['menu.item.value.par.ou']}" actionListener="#{marchandiseBean.rechercher(false)}" icon="ui-icon-search" update="@(.ui-datatable),@(.formfield),btnSuppr">
                                                    <f:param name="validate" value="false" /></p:menuitem>
                                            </p:menuButton>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <p:dataTable id="grid" value="#{marchandiseBean.dataList}" var="item" emptyMessage="#{marchandiseBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{marchandiseBean.selectedObject}" rowKey="#{item.codeMarchandise}" sortBy="#{item.codeMarchandise}"
                                         filteredValue="#{marchandiseBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}" reflow="true" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['marchandiseGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{marchandiseBean.rowSelect}" update="@(.ui-datatable),@(.formfield),:viewForm:btnSuppr"/>
                                <p:column headerText="#{msg['codeMarchandise.label']}" filterBy="#{item.codeMarchandise}" sortBy="#{item.codeMarchandise}" style="width: 150px;"> 
                                    <h:outputText value="#{item.codeMarchandise}" /> 
                                </p:column>

                                <p:column headerText="#{msg['libMarchandise.label']}" filterBy="#{item.libMarchandise}" sortBy="#{item.libMarchandise}" style="width: 500px;"> 
                                    <h:outputText value="#{item.libMarchandise}" /> 
                                </p:column>
                                <p:column headerText="#{msg['CategorieMse.label']}" filterBy="#{item.codeSousCategMse.libSousCategMse}" sortBy="#{item.codeSousCategMse.libSousCategMse}" style="width: 300px;"> 
                                    <h:outputText value="#{item.codeSousCategMse.libSousCategMse}" /> 
                                </p:column>
                                <p:column headerText="#{msg['ClasseMse.label']}" filterBy="#{item.codeClasseMse.libClasseMse}" sortBy="#{item.codeClasseMse.libClasseMse}" style="width: 250px;"> 
                                    <h:outputText value="#{item.codeClasseMse.libClasseMse}" /> 
                                </p:column>
                      
                                  <p:column headerText="#{msg['numeroUn.label']}" filterBy="#{item.numeroUn}" sortBy="#{item.numeroUn}" style="width: 150px"> 
                                    <h:outputText value="#{item.numeroUn}" /> 
                                </p:column>
                                <p:column headerText="#{msg['grpeTccImp.label']}" filterBy="#{item.grpeTccImp.libGrpeTcc}" sortBy="#{item.grpeTccImp.libGrpeTcc}" style="width: 370px"> 
                                    <h:outputText value="#{item.grpeTccImp.libGrpeTcc}" /> 
                                </p:column>
                                <p:column headerText="#{msg['grpeTccExp.label']}" filterBy="#{item.grpeTccExp.libGrpeTcc}" sortBy="#{item.grpeTccExp.libGrpeTcc}" style="width: 370px"> 
                                    <h:outputText value="#{item.grpeTccExp.libGrpeTcc}" /> 
                                </p:column>
                                <p:column headerText="#{msg['motsCles.label']}" filterBy="#{item.motsCles}" sortBy="#{item.motsCles}" style="width: 500px;"> 
                                    <h:outputText value="#{item.motsCles}" /> 
                                </p:column>
                                  <f:facet name = "footer"> 
                                    <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporter').show();" />
                                </f:facet>

                            </p:dataTable>

                        </div>
                    </div>
                    <div id="title_bar" style="margin-top: 5px">
                        <span class="title"><p:outputLabel value="#{msg['marchandiseView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                </div>
            </h:form>

            <h:form id="dialogForm">
                 
                <sic:gridExporter title="#{msg['dlg.export.title']} #{msg['marchandiseView.title']}" widgetVar="gridExporter" grid=":viewForm:grid" />
          
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{marchandiseBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                 msg1="#{marchandiseBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandLink  styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                        onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{marchandiseBean.supprimer()}"  
                                         update=":viewForm:grid,@(.formfield),:viewForm:btnSuppr" oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
