<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template = "/templates/appTemplate.xhtml">
        <ui:define name="view">
            <h:form id="viewForm">
                <div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['classeMseView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">

                                <p:fieldset id="fieldsClasseMse" styleClass="fieldsClasseMse sipe-fs fs-full">

                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['libspec.label']}" for="libspec" />
                                        </li>
                                        <li>
                                            <p:inputText id="libspec" value="#{specialiteBean.formObject.libspec}" required="#{true eq param.validate}"  maxlength="200"  styleClass="champs-simple" >
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="libspec"  display="icon" />
                                        </li>
                                    </ul>
                                    
                                    
                                    <div style="clear: both;"></div>
                                    <p:messages showDetail="true" />
                                   
                                </p:fieldset>


                                <div   class="action-bar action-bar-triple" >
                                    <ul class='rtl'>
                                        <li><p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{specialiteBean.enregistrer()}" update="grid, @(.fieldsClasseMse), :viewForm:btnSuppr " >
                                                <f:param name="validate" value="true" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSuppr" action="#{specialiteBean.confirmerSuppression()}" disabled="#{!specialiteBean.editMode}" icon="ui-icon-trash" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{specialiteBean.effacerTout()}"  update="grid, @(.fieldsClasseMse), :viewForm:btnSuppr " >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                            <li>
                                                <p:menuButton value="#{msg['btn.value.rechercher']}">
                                                    <p:menuitem value="#{msg['menu.item.value.par.et']}" actionListener="#{specialiteBean.rechercher(true)}" icon="ui-icon-search" update="grid, @(.fieldsClasseMse)"   >
                                                       <f:param name="validate" value="false" />
                                                    </p:menuitem>
                                                    <p:menuitem value="#{msg['menu.item.value.par.ou']}" actionListener="#{specialiteBean.rechercher(false)}" icon="ui-icon-search" update="grid, @(.fieldsClasseMse)"   >
                                                       <f:param name="validate" value="false" />
                                                    </p:menuitem>
                                                </p:menuButton>
                                            </li> 
                                    </ul>
                                </div>

                            </div>
                            <p:dataTable id="grid" value="#{specialiteBean.dataList}" var="item" emptyMessage="#{specialiteBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{specialiteBean.selectedObject}" rowKey="#{item.idspec}" sortBy="#{item.idspec}"
                                         filteredValue="#{specialiteBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}" reflow="true" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['classeMseGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{specialiteBean.rowSelect}" update="@(.fieldsClasseMse), :viewForm:btnSuppr " />
                                <p:column headerText="#{msg['numOrdre.label']}"  style="width: 100px"> 
                                    <h:outputText value="#{rowIndex+1}" /> 
                                </p:column>
                                <p:column headerText="#{msg['libspec.label']}" filterBy="#{item.libspec}" sortBy="#{item.libspec}" style="width: 100%;"> 
                                    <h:outputText value="#{item.libspec}" /> 
                                </p:column>
                                <f:facet name = "footer"> 
                                    <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporter').show();" />
                                </f:facet>
                            </p:dataTable>

                        </div>
                    </div>
                    <div id="title_bar" style="margin-top: 5px">
                        <span class="title"><p:outputLabel value="#{msg['classeMseView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>

                </div>
            </h:form>

            <h:form id="dialogForm">

                <sic:gridExporter title="#{msg['dlg.export.title']} #{msg['ClasseMse.label']}" widgetVar="gridExporter" grid=":viewForm:grid" />

                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{specialiteBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                 msg1="#{specialiteBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandLink  styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                        onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{specialiteBean.supprimer()}"  
                                         update=":viewForm:grid, @(.fieldsClasseMse)" oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>