
/*-- Positionnement des champs sur le formulaire  --*/

.sipe-fs{
    margin-top: 5px;
    margin-bottom: 5px;
    /*background-color: #e6f2ff; */
}

.fs-full{
    width: auto!important;
}

.fs-moitie, .fs-tiers{
    height: auto;
}

.moitie-left{
    width: 50%;
    float: left;
}

.moitie-right{
    width: 49%;
    float: right;
}

.tiers-left{
    width: 33%;
    float: left;
}

.tiers-middle{
    width: 33%;
    float: left;
    margin-left: 5px;
}

.tiers-right{
    width: 33%;
    float: right;
}

.sipe-row{
    margin-top: 3px;
    margin-bottom: 3px;
}

.fs-full .sipe-row{
    width:1140px;
}

.fs-moitie .sipe-row{
    width:550px;
}

.fs-tiers .sipe-row{
    width:280px;
}

.sipe-row-half{
    width:400px;
    margin-top: 3px;
    margin-bottom: 3px;
}

ul.sipe-row{
    list-style: none;
    padding: 0px;
}

ul.sipe-row > li,  ul.sipe-row-half > li{
    display: inline-block;
    float: left;
}

.sipe-libelle{ 
    width: 80px;
    text-decoration: none;
    margin-right: 5px;
    overflow: hidden;
    line-height: 18px;
    padding-top: 5px;
}

/*-- -LABEL Interne --*/
.interne{ 
    margin-left: 20px !important;
}

.champs-simple{
    width: 170px!important;
}

.champs-simple-ro{
    width: 173px!important;
}

.lazy-combo-simple{
    width: 145px!important;
}

.champs-double{
    width: 447px !important; 		
}

.champs-double-ro{
    width: 450px !important; 		
}

.lazy-combo-double{
    width: 422px !important; 		
}

.champs-triple{
    width: 725px !important; 	
}

.champs-quadruple{
    width: 999px !important; 	
}

.champs-simple-c3{
    width: 170px !important;
}


.champs-double-c3{
    width: 445px !important; 		
}

.champs-triple-c3{
    width: 720px !important; 	
}

.champs-quadruple-c3{
    width: 1000px !important; 	
}

.sipe-btn-load{
    margin-left: 2px !important; 		
}

/*---action_bar---*/
.action-bar
{
    background-color:#abd7fd;
    border-radius:3px;
    height:32px;
    padding-top: 2px;
    margin-bottom: 5px;

}

.action-bar ul {
    list-style: none;
    padding-left: 2px;
}
.action-bar > ul > li {
    display: inline-block;
    margin: 1px 1px 1px 1px;
}

.action-bar-simple{
    width: 350px;
}


.action-bar-double{
    width: 550px;
}

.action-bar-triple{
    width: 820px; 	
}

.action-bar-quadruple{
    width: 1110px;	
}

.fs-moitie .action-bar-simple{
    width: 370px;
}

.fs-moitie .action-bar-double{
    width: 530px;
}



.rtl{
    float: right;
    margin: 1px 3px 1px 0px;
}

.ltr{
    float: left;
    margin: 1px 3px 1px 0px;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 oct. 2015, 04:27:28
    Author     : abalo
*/

/*** coloration des datatable ***/
.first-row {
    background-color: #ffffff;
    background-image: none !important;
    line-height: 11px;

}

.second-row {
    background-color: rgb(231, 233, 249) ;
    line-height: 11px;
}

.warning-row {
    background-color: red ;
    line-height: 11px;
}

.second-row td, .first-row  td{
    padding: 5px !important;
}




.ui-datatable-tablewrapper table tr th, .ui-datatable thead th, .ui-treetable-tablewrapper table tr th, .ui-treetable thead th, .ui-sortable-column, .ui-filter-column, .ui-treetable .ui-treetable-header{
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(249, 250, 253) 30%, rgb(238, 242, 247) 60%, rgb(228, 233, 244) 100%) repeat scroll 0% 0% transparent !important;
    font-size: 12px !important;
    font-weight: bold;
}


/**** Dialog confirmation PFS ***/


.ui-dialog{
    /*  background-color: #f6f6f6 ;*/
    background-color: #ffffff;
    border:4px solid #82b6ff;
}

.ui-dialog-titlebar-close {
    position: initial !important;

}

.ui-dialog-content{
    background-color: #E6E9EE !important;
    border-top:1px solid #CCC !important;
    padding: 3px !important;
    overflow: scroll;
}

.dlgFondBlanc .ui-dialog-content {
    background-color: #DDEEF6 !important;
}

.ui-dialog-titlebar{
    margin: 0px !important;
    color:#666666 !important;
}

.notifDialog{
    border:none;    
}

.notifDialog .ui-dialog-titlebar{

}

.notifDialog .ui-dialog-content{
    background-color: #FFF !important;
    border-top: none !important;
}

.dialogTitle, .dialogTitleConfirm, .dialogTitleSucces, .warningDialogTitle, .dialogTitleErreur{
    font-size:16px;
    vertical-align: middle;
    line-height: 31px;
    color: #333333;

}

.dialogTitleConfirm{
    background: url(../img/mypfs/question.png) #FFF no-repeat left center;
    height: 30px;
    padding-left: 35px;
    color: #e0a019;
}

.dialogTitleSucces{
    background: url(../img/mypfs/succes.png) #FFF no-repeat left center;
    height: 33px;
    padding-left: 35px;
    color: rgb(91, 183, 91);
}

.warningDialogTitle{
    background: url(../img/mypfs/exclamation.png) #FFF no-repeat left center;
    height: 30px;
    padding-left: 35px;
    color: #e0a019;
}

.dialogTitleErreur{
    background: url(../img/mypfs/error.png) #FFF no-repeat left center;
    height: 30px;
    padding-left: 35px;
    color: rgb(218, 79, 73);
}

.confirmMsg, .successMsg, .errorMsg, .warningMsg {
    padding: 9px; 
    margin: 6px;
    font-size: 14px;
    border-radius: 6px;
    min-height: 40px;
    height: auto;
}

.confirmMsg{
    color: rgb(255, 255, 255)!important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    /* background-color: rgb(73, 175, 205); */
    background-color: #e0a019 !important;

}

.successMsg{
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(91, 183, 91);

}

.errorMsg{   
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(218, 79, 73);

}

.warningMsg{
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color:#e0a019;
}


/** CSS Bootstrap **/
.modal-footer {
    padding: 5px 5px 5px;
    margin-bottom: 0px;
    text-align: right;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(221, 221, 221);
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
}

.btn-ok {
    min-width: 60px;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 15px;
    height: 30px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179);
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: rgb(51, 51, 51);
    background-color: rgb(230, 230, 230);
}
.btn:hover, .btn:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
}

.btn-primary {
    color: rgb(255, 255, 255)!important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(0, 109, 204);
    background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.modal-footer .btn + .btn {
    margin-bottom: 0px;
    margin-left: 5px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 68, 204);
}

.btn-success {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(91, 183, 91);
    background-image: linear-gradient(to bottom, rgb(98, 196, 98), rgb(81, 163, 81));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(81, 163, 81);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color: rgb(255, 255, 255)!important;
    background-color: rgb(189, 54, 47);
}

.btn-danger {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(218, 79, 73);
    background-image: linear-gradient(to bottom, rgb(238, 95, 91), rgb(189, 54, 47));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: rgb(255, 255, 255)!important;
    background-color: rgb(47, 150, 180);
}

.btn-info {
    color: rgb(255, 255, 255)!important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(73, 175, 205);
    background-image: linear-gradient(to bottom, rgb(91, 192, 222), rgb(47, 150, 180));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.notifBt {
    -moz-box-shadow:inset 0px 1px 0px 0px #db9418;
    -webkit-box-shadow:inset 0px 1px 0px 0px #db9418;
    box-shadow:inset 0px 1px 0px 0px #db9418;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0a800), color-stop(1, #c7892c) );
    background:-moz-linear-gradient( center top, #e0a800 5%, #c7892c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0a800', endColorstr='#c7892c');
    background-color:#e0a800;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#ffffff !important;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:96px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #e67d0e;
}
.notifBt:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c7892c), color-stop(1, #e0a800) );
    background:-moz-linear-gradient( center top, #c7892c 5%, #e0a800 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7892c', endColorstr='#e0a800');
    background-color:#c7892c;
}.notifBt:active {
    position:relative;
    top:1px;
}

.ui-autocomplete-multiple-container{
    width: 444px !important;
}

/* Contenu de datatable */
.ui-datatable-tablewrapper, .ui-datatable-header, .ui-treetable-tablewrapper, .ui-treetable-header{
    font-size: 12px !important;
}

.ui-datatable-header .ui-outputlabel, .ui-treetable-header .ui-outputlabel{
    font-size: 18px !important;
    font-weight: bold;
}

.ui-fieldset .ui-fieldset-legend{
    font-weight: bold !important;
    color: #000000 !important;
    font-size: 13px;
}

/* Libellé des champs */
.sipe-libelle .ui-outputlabel{
    font-size: 12px !important;
}

.ui-column-title{
    font-size: 13px !important;
}

.output-band{
    border-radius: 3px;
    padding-top: 6px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 160px;
    height: 30px;
    margin-right: 3px;
}

.bande-simple{
    width: 160px;
}

.bande-double{
    width: 320px;
}

.bande-verte{
    background-color: #00ca6d;
    color:#FFF; 
}
.bande-rouge{
    background-color: red;
    color:#FFF; 
}
.ui-datatable tbody td.wrap {
    white-space: normal;
}

.ui-panel .ui-panel-content {
    padding:5px;
    border-radius:3px;
}

.form {
    border-radius:3px;
    width:auto;
    height:auto;

}